spring:
  config:
    import:
      - optional:file:.env.properties
      
  application:
    name: dlrecord
  datasource:
    url: ${DB_URL}
    username: ${DB_USER}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    open-in-view: false
    show-sql: true

    hibernate:
      ddl-auto: update

  logging:
   level:
     org.springframework.security: DEBUG

  web:
    error:
      whitelabel:
        enabled: false
      include-path: never
      include-message: never
      include-binding-errors: never
      include-stacktrace: never
      include-exception: false